<footer>
	<div class="f-info">
		<div class="f-info-socials">
			<a href="https://github.com/harshal20m"> <i class="fa-brands fa-square-github fs-2 text-dark"></i> </a>
			<a href="https://www.linkedin.com/in/harshal-mali-b40b61244/"
				><i class="fa-brands fa-linkedin fs-2 text-dark"></i>
			</a>
			<a href="https://www.instagram.com/20harshal/">
				<i class="fa-brands fa-square-instagram fs-2 text-dark"></i>
			</a>
		</div>
		<div class="f-info-brand">&copy;Wanderlust Private Limited</div>
		<div class="f-info-links">
			<a href="/privacy">Privacy</a>

			<a href="/terms">Terms</a>
		</div>
		<p><i class="fa-solid fa-crown"></i> This Clone is Made by Harshal Mali <i class="fa-solid fa-crown"></i></p>
	</div>
</footer>
