<% layout('/layouts/boilerplate') %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <br>
                <h3>Create a new Listing</h3>
                <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Provide a valid description.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label"> Upload Image</label>
                        <input type="file" name="listing[image]" class="form-control" required>

                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="1200" class="form-control" required>
                            <div class="invalid-feedback">
                                Provide a valid price.
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                            <div class="invalid-feedback">
                                Country name should be valid.
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Delhi, Goa, Manali" class="form-control" required>
                        <div class="invalid-feedback">
                            Location should be valid.
                        </div>
                    </div>



                    <button class="btn btn-dark add-btn mt-3">Add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>